.link{
    cursor: pointer;
    color: rgb(51, 134, 72);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    text-align: center;
    padding: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@media screen and (max-width:768px) {
    .canvas{
        transform: scale(0.55);
    }
}