<div class="container">
    <div>
        <div class="header">
            <div *ngIf="tipKorisnika=='klijent'">
                <a class="link" (click)="nazadDoAgenicija()">Nazad na agencije</a>
            </div>
            <div *ngIf="tipKorisnika=='korisnik'">
                <a class="link" (click)="nazadNaPocetnu()">Nazad na pocetnu</a>
            </div>
        </div>
        <div class="mainContainer">
            <div class="main">
                <img [src]="agencija.slika" *ngIf="agencija.slika!=null&&agencija.slika!=''" height="70px !important" width="70px !important">
                <img src="assets/profilna.jpg" *ngIf="agencija.slika==null || agencija.slika==''" height="70px !important" width="70px !important">
                <h2>{{agencija.nazivAgencije}}</h2>
                <div class="tabelaContainer">
                    <h3>Ocene i komentari klijenata</h3>
                    <table *ngIf="tipKorisnika=='korisnik'&&komentari.length>0" class="tabela">
                        <tr>
                            <th>Klijent</th>
                            <th>Ocena</th>
                            <th>Komentar</th>
                        </tr>
                        <tr *ngFor="let k of komentari">
                            <td>Anonimno</td>
                            <td>{{k.ocena}}</td>
                            <td>{{k.komentar}}</td>
                        </tr>
                    </table>
                    <table *ngIf="tipKorisnika=='klijent'&&komentari.length>0" class="tabela">
                        <tr>
                            <th>Klijent</th>
                            <th>Ocena</th>
                            <th>Komentar</th>
                        </tr>
                        <tr *ngFor="let k of komentari">
                            <td>{{k.klijent}}</td>
                            <td>{{k.ocena}}</td>
                            <td>{{k.komentar}}</td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>
     </div>
    <div class="footer">
        &#169; Copyright Mateja Tosic 2023. All Rights Reserved 
    </div>
</div>